
<div class="container">
  <form [formGroup]="userModel" class="row g-3 mt-3">
    <div class="col-6">
      <label for="emailInput" class="form-label">Email</label>
      <input 
      formControlName="email" 
      type="email" 
      class="form-control" 
      [class.is-invalid]="emailControl.touched && emailControl.invalid"
      id="emailInput" 
      placeholder="Escribe tu email..."> 
      <div class="invalid-feedback">
            Debe ser una direccion de correo, por ejemplo "franquito@gmail.com"
      </div>
    </div>
    
    

    <div class="col-6">
      <label for="passwordInput" class="form-label">Contraseña</label>
      <input  
      formControlName="password" 
      type="password" 
      class="form-control"
      [class.is-invalid]="passwordControl.touched && passwordControl.invalid" 
      id="passwordInput" 
      placeholder="Escribe tu contraseña..."> 
      <div class="invalid-feedback">
          Ingrese una contraseña que tenga 8 caracteres como minimo y 20 como maximo.
      </div>
    </div>

    <div class="col-12">
      <label for="inputNumber" class="form-label">Numero de celular</label>
      <input  
      formControlName="number" 
      type="text" 
      class="form-control" 
      [class.is-invalid]="numberControl.touched && numberControl.invalid"
      id="inputNumber" 
      placeholder="Escribe tu numero de celular...">
      <div class="invalid-feedback">
            Solo se permiten numeros...
      </div>
    </div>

    <div class="col-12">
      <label for="postalCodeInput" class="form-label">Codigo postal</label>
      <input  
      formControlName="postalCode" 
      type="text" 
      class="form-control" 
      [class.is-invalid]="postalCodeControl.touched && postalCodeControl.invalid"
      id="postalCodeInput" 
      placeholder="Escribe tu codigo postal..."> 
      <div class="invalid-feedback">
            El codigo postal solo debe tener 4 digitos.
      </div>
    </div>


    <div class="col-12">
      <button type="submit" class="btn btn-primary"> Registrate</button>
    </div>

  </form>

  <div class="col-12">
    <h2> Valor </h2>
    <pre>{{ userModel.value | json}}</pre>
    
  </div>




</div>